/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/*Colors*/
:root {
    --heafoo-bg: #10316b;
    --main-bg: #3e3636;
    --card-color: #0B8458;
    --text-color: #dee1ec;

}

/*UNIVERSAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}

/*TEXT*/
h1 {
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.35);
    line-height: 1;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 0.88;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    text-align: center;
    padding: .5rem;
    margin-top: 2rem;
    color: var(--text-color);
    text-shadow: 1px 1px 6px rgba(0,0,0,0.35);
}

h4 {
    padding: 1rem 0;
    color: var(--text-color);
    font-size: 1.6em;
}

h5 {
    color: var(--text-color);
    padding-top: 1rem;
    font-size: 1.6rem;
}

h6 {
    color: var(--text-color);
    font-size: 1.3rem;
    padding-top: 0.8rem;
    letter-spacing: 0.1rem;
}

p, article {
    color: var(--text-color);
    font-size: 1rem;
}

/*TOP PAGE*/
header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--heafoo-bg);
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
}

.cursiveLogo {
    font-family: 'Parisienne', sans-serif;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
    transition: 100ms;
}

.logo:hover {
    color: var(--card-color);
    transition: 250ms;
}

/*NAVIGATION*/
nav {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

a.nav-link {
    color: var(--text-color);
    font-weight: 500;
    transition: 100ms;
}

a:hover {
    color: var(--card-color);
    transition: 250ms;
}

/*GENERAL*/
a {
    text-decoration: none;
    color: black;
    transition: 250ms;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

/*HERO*/
section.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(./img/pasta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    width: 100%;
    padding: 0 4rem;
}

img.ramen {
    margin-top: -0.8rem;
    width: 3rem;
    height: auto;
}

/*New Foods*/
section.new-foods, .blog, .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

/*New Foods Cards*/
.food-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.food-card, .about-card, .latest-blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    width: 90%;
    height: auto;
    padding: 2rem 2rem;
    border-radius: 1em;
    text-align: center;
    margin: 1rem 1rem;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
    transition: 300ms ease-out;
}

.card-button, .section-end-button  {
    background-color: var(--heafoo-bg);
    padding: 0.8rem 1.3rem;
    border: 5px solid var(--heafoo-bg);
    border-radius: 1.8rem;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
    transition: 400ms;
    cursor: pointer;
}

.card-button:hover, .section-end-button:hover {
    background-color: var(--text-color);
    color: var(--heafoo-bg);
    transition: 600ms;
}

/*Blog*/

.blog-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

/*footer*/
footer {
 min-width: 100%;
 background-color: var(--heafoo-bg);
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 align-items: center;
 box-shadow: 1px -5px 15px 2px rgba(0,0,0,0.2);
 text-align: center;
 padding: 2em 0 1em 0;
}

.some {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
}

.someIcon {
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    margin: 0 1em 0 1em;
    background-color: var(--card-color);
    border: 5px solid var(--card-color);
    border-radius: 1.5em;
    transition: 200ms;
}

.someIcon:hover {
    background-color: var(--text-color);
    transition: 500ms;
}

/*Responsive for tablet & horizontal phone*/
@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }

    nav {
        margin-bottom: 0;
    }

    li {
        font-size: 1.2rem;
    }

    section.hero {
        padding: 0 16rem;
    }

    p, article {
        font-size: 1.2rem;
    }
}

/*Responsive small laptop*/
@media only screen and (min-width: 1200px) {
    header {
        padding: 1rem 2rem;
    }
    
    section.hero {
        padding: 0 20rem;
     }

    .food-cards{
        flex-direction: row;
    }

    .card-button, .section-end-button  {
        padding: 0.8rem 1.3rem;
        font-size: 1.2rem;
    }

    .someIcon {
        height: 3.5rem;
        width: 3.5rem;
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .food-card:hover {
        transform: scale(1.02);
        transition: 500ms ease;
    }
}

/*Responsive laptop*/
@media only screen and (min-width: 1500px) {
    header {
        padding: 1rem 6rem;
    }
    
    section.hero {
       padding: 0 30rem;
    }

    .blog-cards {
        flex-direction: row;
        margin: 0 2rem;
    }

    .food-card, .about-card, .latest-blog-card {
        width: 80%;
    }

    .about-card {
        padding: 2rem 6rem;
    }

    .latest-blog-card {
        padding: 4rem 6rem;
    }
}

/*Responsive laptop*/
@media only screen and (min-width: 1820px) {
    section.hero {
       padding: 0 40rem;
    }

    .blog-cards {
        flex-direction: row;
        margin: 0 2rem;
    }

    .food-card, .latest-blog-card {
        width: 80%;
    }

    .food-cards, .blog, .about{
        margin: 0 6rem;
    }

    .about-card {
        width: 60%;
    }
}