/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/*Colors*/
:root {
    --heafoo-bg: rgb(239,89,87);
    --heafoo-color: rgb(240,144,132);
    --text-color: #ffffff;

}

/*BODY*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*TOP PAGE*/
header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--heafoo-bg);
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
}

h2 {
    font-size: 1.5em;
    line-height: 0.9;
}

.cursiveLogo {
    font-family: 'Parisienne', sans-serif;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding: 1em;
    color: var(--text-color);
}

/*NAVIGATION*/
nav {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

a.nav-link {
    color: var(--text-color);
}

/*GENERAL*/
a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

/*HERO*/
h1 {
    color: black;
    text-align: center;
    padding: 1em;
    font-size: 2.5em;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.35);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--heafoo-color);
}

section.hero {
    display: flex;
    align-items: center;
    background-image: repeating-linear-gradient(90deg, rgba(236, 13, 35,0.5) 0px, rgba(236, 13, 35,0.5) 30px,transparent 30px, transparent 60px),repeating-linear-gradient(0deg, rgba(236, 13, 35,0.5) 0px, rgba(236, 13, 35,0.5) 30px,transparent 30px, transparent 60px),linear-gradient(90deg, hsl(94,64%,92%),hsl(94,64%,92%));
    min-height: 30vh;
    width: 100%;
    background-attachment: fixed;
}

/*New Foods*/
section.new-foods , .blog, .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 2em;
    text-align: center;
    padding: .8em;
    margin-top: 1.5em;
    color: var(--text-color);
    text-shadow: 1px 1px 6px rgba(0,0,0,0.35);

}

button.section-end-button {
    background-color: var(--heafoo-bg);
    color: var(--text-color);
    padding: 1.5em 2.5em 1.5em 2.5em;
    border: none;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 2em;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
}

/*New Foods Cards*/
.food-card, .latest-blog-card {
    background-color: var(--heafoo-bg);
    width: 70%;
    height: 100%;
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    margin: 1em 0 1em 0;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
}

h5 {
    color: var(--text-color);
    padding-top: 1em;
    font-size: 1.4em;
}

p {
    color: white;
    padding: .8em;
    font-size: 1.2em;
}

button.card-button {
    background-color: var(--heafoo-color);
    padding: 1em 2em 1em 2em;
    border: none;
    border-radius: 2em;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
}

/*Blog*/
h4 {
    padding: 1em;
    color: var(--text-color);
    font-size: 1.2em;
}

article {
    text-align: center;
    color: var(--text-color);
}

/*About*/
h6 {
    color: var(--text-color);
    font-size: 1.2em;
    margin-top: 1em;
}

/*footer*/

footer {
 margin-top: 5em;
 min-width: 100%;
 background-color: var(--heafoo-bg);
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 align-items: center;
 box-shadow: 1px -5px 15px 2px rgba(0,0,0,0.2);
 text-align: center;
 padding: 2em 0 1em 0;
}

.some {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.someIcon {
    height: 2.5em;
    width: 2.5em;
    padding: 1em;
    margin: 0 1em 0 1em;
    background-color: var(--heafoo-color);
    border-radius: 1.5em;
}