/*HERO*/
section.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../img/pasta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    width: 100%;
    position: relative;
}

.hero-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    position: relative;
    animation: push 3s infinite ease-in-out;
}

.custom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-wave .shape-fill {
    fill: #3E3636;
}

/*Hero Animation*/
@keyframes push {
    0% {margin-top: 0;}
    50% {margin-top: 2.5rem;}
    100% {margin-top: 0;}
}
/*END OF HERO*/

/*Images*/
img.ramen {
    padding-top: 0.4rem;
    width: 3rem;
    height: auto;
}

img.float-pasta {
    max-width: 70%;
    position: relative;
    animation: pasta 3s infinite ease-in-out;
    transform: rotateZ(-5deg);
}

/*Section layout*/
section.new-foods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

 .blog, .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

.blog {
    display: none;
}

/*Card layout*/
.food-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.blog-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

/*Card*/

.food-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    height: 600px;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 1em;
    text-align: center;
    margin: 1rem 1rem;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h5.food-heading {
    visibility: hidden;
}

.food-card:first-of-type {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(../img/fetapasta.jpg);
}

.food-card:nth-of-type(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(../img/keburulla.jpg);
}

.food-card:nth-of-type(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(../img/mummonkurkut.jpg);
}

.about-card, .latest-blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    width: 90%;
    padding: 2rem 2rem;
    border-radius: 1em;
    text-align: center;
    margin: 1rem 1rem;
    box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.25);
    transition: 300ms ease-out;
}

/*-------------------MEDIA QUERIES-------------------*/
/*TABLET*/
@media only screen and (min-width: 768px) {

    .hero-logo {
        max-width: 30%;
    }
}

/*SMALL LAPTOP*/
@media only screen and (min-width: 1200px) {

    .food-cards{
        flex-direction: row;
    }

    .food-card {
        position: relative;
        justify-content: center;
        transition: 300ms ease-out;
    }
    

    h5.food-heading {
        visibility: visible;
        color: var(--text-color);
        background-color: var(--heafoo-bg);
        padding: 0.5rem;
        margin-bottom: 0;
        border-radius: 0.6rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 1;
        bottom: 0;
    }

    .food-card-inner {
        visibility: hidden;
        transition: 50ms ease-in-out;
    }

    .food-card:first-of-type {
        background-image: url(../img/fetapasta.jpg);
    }
    
    .food-card:nth-of-type(2) {
        background-image: url(../img/keburulla.jpg);
    }
    
    .food-card:nth-of-type(3) {
        background-image: url(../img/mummonkurkut.jpg);
    }

    .food-card:first-of-type:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(../img/fetapasta.jpg);
    }

    .food-card:nth-of-type(2):hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(../img/keburulla.jpg);
    }

    .food-card:nth-of-type(3):hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(../img/mummonkurkut.jpg);
    }

    .food-card:hover > h5.food-heading {
       visibility: hidden;
       transition: 10ms ease-in-out;
    }

    .food-card:hover > .food-card-inner {
        visibility: visible;
        transition: 500ms ease-in-out;
     }

    .food-card:hover, .about-card:hover {
        transform: scale(1.02);
    }

    .hero-logo {
        max-width: 20%;
    }

    img.float-pasta {
        transform: rotateZ(0deg);
    }

    .inner-about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*Pasta Animation*/
    @keyframes pasta {
        0% {margin-top: 0;}
        14.3% {margin-top: 0.5rem; transform: rotateZ(0deg);}
        28.6% {margin-top: 0.5rem; transform: rotateZ(0.5deg);}
        42.9% {margin-top: 0.5rem; transform: rotateZ(-0.5deg);}
        57.2% {margin-top: -0.5rem; transform: rotateZ(0deg);}
        71.8% {margin-top: -0.5rem; transform: rotateZ(0.5deg);}
        86% {margin-top: -0.5rem; transform: rotateZ(-0.5deg);}
        100% {margin-top: 0;}
    }
}

/*DESKTOP & LARGE LAPTOP*/
@media only screen and (min-width: 1500px) {

    .blog-cards {
        flex-direction: row;
        margin: 0 2rem;
    }

    .food-card, .about-card, .latest-blog-card {
        width: 80%;
    }

    .about-card {
        padding: 2rem 6rem;
    }

    .latest-blog-card {
        padding: 4rem 6rem;
    }
}

/*LARGER SCREENS*/
@media only screen and (min-width: 1820px) {

    .blog-cards {
        flex-direction: row;
        margin: 0 2rem;
    }

    .food-card, .latest-blog-card {
        width: 80%;
    }

    .food-cards, .blog, .about{
        margin: 0 6rem;
    }

    .about-card {
        width: 60%;
    }

    .hero-logo {
        max-width: 10%;
    }
}